recentf
ac-comphist.dat
tramp
places
smex-items
.cache
.python-environments
auto-save-list
.saves*
.lsp-session-v1
emms
projectile-bookmarks.eld
eln-cache
_minted-configuration
games
transient
irony
.org-id-locations
srecode-map.el
configuration.el